@font-face {
  font-family: "iconfont"; /* Project id 2550930 */
  src: url('//at.alicdn.com/t/font_2550930_zq4s71e5lfh.woff2?t=1621219702055') format('woff2'),
  url('//at.alicdn.com/t/font_2550930_zq4s71e5lfh.woff?t=1621219702055') format('woff'),
  url('//at.alicdn.com/t/font_2550930_zq4s71e5lfh.ttf?t=1621219702055') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuojiantou:before {
  content: "\e620";
}

.icon-youjiantou-copy:before {
  content: "\e654";
}

.icon-huabanfuben:before {
  content: "\e659";
}

.icon-shuaxin:before {
  content: "\e71f";
}
